.PC_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: blue;
  padding: 10px;
}
.PC_header .logo {
  background: #dd5;
  color: #dd5;
}
.PC_header ul {
  background: #dd5;
}
.PC_header ul li {
  list-style: none;
}
.PC_header ul li a {
  text-decoration: none;
}

.mainvisual {
  width: 960px;
}

.headertitle {
  font-size: 30px;
}

.textarea-wrap {
  max-width: 500px;
  background-color: blue;
}
